<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@rooms.edit.headline">Edit Rooms</h1>
    <div>
        <a routerLink="/roomss" class="btn btn-secondary" i18n="@@rooms.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@rooms.id.label" label="Id" />
    <app-input-row [group]="editForm" field="booked" rowType="checkbox" i18n-label="@@rooms.booked.label" label="Booked" />
    <app-input-row [group]="editForm" field="hotel" i18n-label="@@rooms.hotel.label" label="Hotel" />
    <app-input-row [group]="editForm" field="rooms" rowType="select" [options]="roomsValues" i18n-label="@@rooms.rooms.label" label="Rooms" />
    <app-input-row [group]="editForm" field="clientRooms" rowType="select" [options]="clientRoomsValues" i18n-label="@@rooms.clientRooms.label" label="Client Rooms" />
    <input type="submit" i18n-value="@@rooms.edit.headline" value="Edit Rooms" class="btn btn-primary mt-4" />
</form>
