<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@hotels.edit.headline">Edit Hotels</h1>
    <div>
        <a routerLink="/hotelss" class="btn btn-secondary" i18n="@@hotels.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idHotel" rowType="number" i18n-label="@@hotels.idHotel.label" label="Id Hotel" />
    <app-input-row [group]="editForm" field="reserved" rowType="checkbox" i18n-label="@@hotels.reserved.label" label="Reserved" />
    <app-input-row [group]="editForm" field="nameHotel" i18n-label="@@hotels.nameHotel.label" label="Name Hotel" />
    <app-input-row [group]="editForm" field="adressHotel" i18n-label="@@hotels.adressHotel.label" label="Adress Hotel" />
    <app-input-row [group]="editForm" field="priceHotel" i18n-label="@@hotels.priceHotel.label" label="Price Hotel" />
    <app-input-row [group]="editForm" field="phoneHotel" rowType="number" i18n-label="@@hotels.phoneHotel.label" label="Phone Hotel" />
    <app-input-row [group]="editForm" field="ratingHotel" rowType="number" i18n-label="@@hotels.ratingHotel.label" label="Rating Hotel" />
    <input type="submit" i18n-value="@@hotels.edit.headline" value="Edit Hotels" class="btn btn-primary mt-4" />
</form>
