<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@clients.add.headline">Add Clients</h1>
    <div>
        <a routerLink="/clientss" class="btn btn-secondary" i18n="@@clients.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nameClient" i18n-label="@@clients.nameClient.label" label="Name Client" />
    <app-input-row [group]="addForm" field="phoneClient" rowType="number" i18n-label="@@clients.phoneClient.label" label="Phone Client" />
    <input type="submit" i18n-value="@@clients.add.headline" value="Add Clients" class="btn btn-primary mt-4" />
</form>
